################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ApiODATACore
/ApiODATACore/bin/Debug/netcoreapp3.1
/ApiODATACore/obj
